<% layout('layout/layout')%>

<div class="container">

  <h1>Pending Transaction</h1>

  <div class="container">
    <%if (txs && txs.length>0){%>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Aomunt</th>
            <th>Valid?</th>
        </tr>
        </thead>
        <tbody>
            <%txs.forEach(function(txs,idx) { %>
            <tr>
                <td><%=idx%></td>
                <td class="text-truncate" style="max-width: 150px;"><%=txs.fromAddress%></td>
                <td class="text-truncate" style="max-width: 150px;"><%=txs.toAddress%></td>
                <td class="text-truncate"><%=txs.amount%></td>
                <td><span>✓</span></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>
</div>
    <a href="/blockchain/miningblock" class="btn btn-primary">블록생성</a>
</div>